{%- set imageRepository = pillar['kubernetes']['global']['image-repository'] -%}

[Service]
ExecStart=
ExecStart=/usr/bin/kubelet --address=127.0.0.1 --pod-manifest-path=/etc/kubernetes/manifests --allow-privileged=true --pod-infra-container-image={{ imageRepository.dns | default("k8s.gcr.io") }}/pause:3.1
Restart=always